.git/
.github/
.gitlab/
.venv/
.virtualenvs/
build/
*.egg-info/
__pycache__/
**/__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.ruff_cache/
.cache/
applications.json
accounts.json
.adm-demo.env
.adm-demo.json
docs/
tests/
*.md
k8s/
