{% extends "base.html" %}

{% block title %}ADM - Modifier une application{% endblock %}

{% block extra_head %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<style>
    .card {
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }
		.info-icon {
            color: white;
            background-color: #0d6efd;
            cursor: pointer;
            margin-left: 5px;
            font-weight: bold;
            border-radius: 50%;
            padding: 4px 8px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 22px;
            height: 22px;
            font-size: 14px;
            text-align: center;
        }
        .info-tooltip {
            display: none;
            background-color: white;
            border: 1px solid #0d6efd;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
            position: absolute;
            z-index: 1000;
            width: 1050px;
        }
    </style>
{% endblock %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="mt-2">
      {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}    <h2 class="text-center text-primary mb-4">✏️ Modifier une application</h2>
    <div class="card p-4">
      <form method="post">
        <div class="mb-3">
          <label class="form-label">Nom de l'application :</label>
          <input type="text" name="name" class="form-control" required value="{{ application.name }}" readonly>
        </div>
        <div class="mb-3">
          <label class="form-label">Nom du RDA :</label>
          <input type="text" name="rda" class="form-control" required value="{{ application.rda }}">
        </div>
        <div class="mb-3">
          <label class="form-label">Date de première possession :</label>
          <input type="date" name="possession" class="form-control" value="{{ application.possession }}">
        </div>

        <div class="mb-3">
          <label class="form-label">Type d'application :</label>
          <select name="type" class="form-select">
            <option value="Interne" {% if application.type == "Interne" %} selected {% endif %}>Interne</option>
            <option value="Interne cloud" {% if application.type == "Interne cloud" %} selected {% endif %}>Interne cloud</option>
            <option value="Editeur onPrem" {% if application.type == "Editeur onPrem" %} selected {% endif %}>Editeur onPrem</option>
            <option value="Editeur cloud" {% if application.type == "Editeur cloud" %} selected {% endif %}>Editeur cloud</option>
            <option value="SaaS" {% if application.type == "SaaS" %} selected {% endif %}>SaaS</option>
          </select>
        </div>
		<div class="mb-3">
		  <label class="form-label">Criticité :
			<span class="info-icon" data-key="app-criticite">?</span>
		  </label>
		  <select name="criticite" class="form-select">
			<option value="1" {% if application.criticite == "1" %} selected {% endif %}>Solution critique majeure (Criticité très élevée)</option>
			<option value="2" {% if application.criticite == "2" %} selected {% endif %}>Solution stratégique (Criticité élevée)</option>
			<option value="3" {% if application.criticite == "3" %} selected {% endif %}>Solution de support (Criticité moyenne)</option>
			<option value="4" {% if application.criticite == "4" or not application.criticite %} selected {% endif %}>Solution non critique (Criticité faible)</option>
		  </select>
		</div>
        <div class="mb-3">
          <label class="form-label">Disponibilité :
			<span class="info-icon" data-key="app-disponibilite">?</span>
		  </label>
          <select name="disponibilite" class="form-select">
            <option value="D1" {% if application.disponibilite == "D1" %} selected {% endif %}>Faible</option>
            <option value="D2" {% if application.disponibilite == "D2" %} selected {% endif %}>Moyenne</option>
            <option value="D3" {% if application.disponibilite == "D3" %} selected {% endif %}>Élevée</option>
            <option value="D4" {% if application.disponibilite == "D4" %} selected {% endif %}>Critique</option>
          </select>
        </div>
        <div class="mb-3">
          <label class="form-label">Intégrité :
			<span class="info-icon" data-key="app-integrite">?</span>
		  </label>
          <select name="integrite" class="form-select">
            <option value="I1" {% if application.integrite == "I1" %} selected {% endif %}>Faible</option>
            <option value="I2" {% if application.integrite == "I2" %} selected {% endif %}>Moyenne</option>
            <option value="I3" {% if application.integrite == "I3" %} selected {% endif %}>Élevée</option>
            <option value="I4" {% if application.integrite == "I4" %} selected {% endif %}>Critique</option>
          </select>
        </div>
        <div class="mb-3">
          <label class="form-label">Confidentialité :
			<span class="info-icon" data-key="app-confidentialite">?</span>
		  </label>
          <select name="confidentialite" class="form-select">
            <option value="C1" {% if application.confidentialite == "C1" %} selected {% endif %}>Faible</option>
            <option value="C2" {% if application.confidentialite == "C2" %} selected {% endif %}>Moyenne</option>
            <option value="C3" {% if application.confidentialite == "C3" %} selected {% endif %}>Élevée</option>
            <option value="C4" {% if application.confidentialite == "C4" %} selected {% endif %}>Critique</option>
          </select>
        </div>
        <div class="mb-3">
          <label class="form-label">Pérennité :
			<span class="info-icon" data-key="app-perennite">?</span>
		  </label>
          <select name="perennite" class="form-select">
            <option value="P1" {% if application.perennite == "P1" %} selected {% endif %}>Faible</option>
            <option value="P2" {% if application.perennite == "P2" %} selected {% endif %}>Moyenne</option>
            <option value="P3" {% if application.perennite == "P3" %} selected {% endif %}>Élevée</option>
            <option value="P4" {% if application.perennite == "P4" %} selected {% endif %}>Critique</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary w-100">Mettre à jour</button>
      </form>
    </div>
  
  <script>
    $(document).ready(function() {
		let infoTexts = {};

        // Charger les textes des infobulles depuis un fichier JSON
        $.getJSON("{{ url_for('static', filename='info_texts.json') }}", function(data) {
			infoTexts = data;
    
			// Convertir les valeurs en chaînes de caractères si elles sont des tableaux
			Object.keys(infoTexts).forEach(function(key) {
				if (Array.isArray(infoTexts[key])) {
					infoTexts[key] = infoTexts[key].join("");
				}
			});
		});
		
	
        $('.info-icon').click(function(event) {
            event.stopPropagation();

            // Supprime les infobulles existantes
            $('.info-tooltip').remove();

			// Récupération de la clé et du texte associé
            var key = $(this).attr('data-key');
            var infoText = infoTexts[key] || "Information non disponible.";
			
            // Création et ajout de l'infobulle
            var tooltip = $('<div class="info-tooltip">' + infoText + '</div>');
            $('body').append(tooltip);

            // Positionnement dynamique sous l'icône
            var iconPosition = $(this).offset();
            tooltip.css({
                top: iconPosition.top + 25,
                left: iconPosition.left,
                position: 'absolute'
            }).fadeIn();
        });

        // Ferme l'infobulle si on clique ailleurs
        $(document).click(function() {
            $('.info-tooltip').fadeOut(function() {
                $(this).remove();
            });
        });

        // Empêche la fermeture immédiate si on clique sur l'infobulle
        $(document).on('click', '.info-tooltip', function(event) {
            event.stopPropagation();
        });
    });
</script>

{% endblock %}
