<!DOCTYPE html>
<html>
<head>
    <title>Gestion des Applications</title>
</head>
<body>
    <h2>Liste des Applications</h2>
    <table border="1">
        <tr>
            <th>Nom</th>
            <th>Score</th>
            <th>Actions</th>
        </tr>
        {% for app in applications %}
        <tr>
            <td>{{ app.name }}</td>
            <td>{{ app.score or "Non évaluée" }}</td>
            <td>
                <a href="/score/{{ app.name }}">Évaluer</a>
                <form action="/delete/{{ app.name }}" method="post" style="display:inline;">
                    <button type="submit">Supprimer</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="/synthese">Voir Synthèse</a>
<p/>
    <a href="/add"><button>Ajouter une application</button></a>

</body>
</html>
