<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scoring - {{ application.name }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        body {
            background-color: #f8f9fa;
        }
        .container {
            margin-top: 30px;
        }
        .card {
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        .form-select {
            width: 100%;
        }
        h3 {
            background-color: #0d6efd;
            color: white;
            padding: 10px;
            border-radius: 5px;
			font-weight: bold;
        }
		.label {
			font-weight: bold;
		}
        button {
            margin-top: 15px;
        }
		.info-icon {
            color: white;
            background-color: #0d6efd;
            cursor: pointer;
            margin-left: 5px;
            font-weight: bold;
            border-radius: 50%;
            padding: 4px 8px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 22px;
            height: 22px;
            font-size: 14px;
            text-align: center;
        }
        .info-tooltip {
            display: none;
            background-color: white;
            border: 1px solid #0d6efd;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
            position: absolute;
            z-index: 1000;
            width: 250px;
        }
    </style>
</head>
<body>

<div class="container">
    <h2 class="text-center text-primary">✅ Scoring de l'application : <strong>{{ application.name }}</strong></h2>

    <form method="post">
		<div class="card p-4 my-3">
            <h3>👤 Évaluateur</h3>
            <label>Nom de l'évaluateur :</label>
            <input type="text" name="evaluator_name" class="form-control" value="{{ application.evaluator_name if application.evaluator_name else application.rda }}">
        </div>
        <!-- Organisation -->
        <div class="card p-4 my-3">
            <h3>📁 Organisation</h3>
            {% set questions = {
                'doc': 'Documentation complète et à jour',
                'team': 'Équipe clairement identifiée',
				'roadmap' : 'Roadmap claire'
            } %}
            {% for key, label in questions.items() %}
				<label class="label">{{ label }} :
					<span class="info-icon" data-key="{{ key }}">?</span>
				</label>
                <select name="{{ key }}" class="form-select">
                    {% set value = application.responses.get(key, '') %}
                    <option value="Oui total" {% if value == "Oui total" %} selected {% endif %}>Oui total</option>
                    <option value="Partiel" {% if value == "Partiel" %} selected {% endif %}>Partiel</option>
                    <option value="Insuffisant" {% if value == "Insuffisant" %} selected {% endif %}>Insuffisant</option>
                    <option value="Non total" {% if value == "Non total" %} selected {% endif %}>Non total</option>
                    <option value="Non applicable" {% if value == "Non applicable" %} selected {% endif %}>Non applicable</option>
                </select>
				<label class="comment">Commentaire :</label>
				<textarea name="{{ key }}_comment" class="form-control" required>{{ application.comments.get(key + '_comment', '') }}</textarea>
            {% endfor %}
        </div>

        <!-- Obsolescence -->
        <div class="card p-4 my-3">
            <h3>⚠️ Obsolescence</h3>
            {% set questions = {
                'tech_obsolete': 'Technologies obsolètes',
                'mco': 'Maintien en condition opérationnelle difficile',
				'support': 'Composants tiers non supportés'
            } %}
            {% for key, label in questions.items() %}
				<label class="label">{{ label }} :
					<span class="info-icon" data-key="{{ key }}">?</span>
				</label>
                <select name="{{ key }}" class="form-select">
                    {% set value = application.responses.get(key, '') %}
                    <option value="Non" {% if value == "Non" %} selected {% endif %}>Non</option>
                    <option value="Partiellement" {% if value == "Partiellement" %} selected {% endif %}>Partiellement</option>
                    <option value="Majoritairement" {% if value == "Majoritairement" %} selected {% endif %}>Majoritairement</option>
                    <option value="Totalement" {% if value == "Totalement" %} selected {% endif %}>Totalement</option>
                    <option value="Non applicable" {% if value == "Non applicable" %} selected {% endif %}>Non applicable</option>
                </select>
				<label class="comment">Commentaire :</label>
				<textarea name="{{ key }}_comment" class="form-control" required>{{ application.comments.get(key + '_comment', '') }}</textarea>
            {% endfor %}
        </div>

        <!-- Qualité et Développement -->
        <div class="card p-4 my-3">
            <h3>🛠️ Qualité et Développement</h3>
            {% set questions = {
                'etat_art': "Alignement avec l’état de l’art",
				'respect' : "Respect des standards et des principes d'architecture",
                'code_source': "Code source maintenable et documenté",
				'tests': "Tests automatisés"
            } %}
            {% for key, label in questions.items() %}
				<label class="label">{{ label }} :
					<span class="info-icon" data-key="{{ key }}">?</span>
				</label>
                <select name="{{ key }}" class="form-select">
                    {% set value = application.responses.get(key, '') %}
                    <option value="Oui total" {% if value == "Oui total" %} selected {% endif %}>Oui total</option>
                    <option value="Partiel" {% if value == "Partiel" %} selected {% endif %}>Partiel</option>
                    <option value="Insuffisant" {% if value == "Insuffisant" %} selected {% endif %}>Insuffisant</option>
                    <option value="Non total" {% if value == "Non total" %} selected {% endif %}>Non total</option>
                    <option value="Non applicable" {% if value == "Non applicable" %} selected {% endif %}>Non applicable</option>
                </select>
				<label class="comment">Commentaire :</label>
				<textarea name="{{ key }}_comment" class="form-control" required>{{ application.comments.get(key + '_comment', '') }}</textarea>
            {% endfor %}
        </div>

        <!-- Sécurité et Conformité -->
        <div class="card p-4 my-3">
            <h3>🔐 Sécurité et Conformité</h3>
				<label class="label">Conformité aux exigences de sécurité :
					<span class="info-icon" data-key="securite">?</span>
				</label>
                <select name="securite" class="form-select">
                    {% set value = application.responses.get('securite', '') %}
                    <option value="Oui total" {% if value == "Oui total" %} selected {% endif %}>Oui total</option>
                    <option value="Partiel" {% if value == "Partiel" %} selected {% endif %}>Partiel</option>
                    <option value="Insuffisant" {% if value == "Insuffisant" %} selected {% endif %}>Insuffisant</option>
                    <option value="Non total" {% if value == "Non total" %} selected {% endif %}>Non total</option>
                    <option value="Non applicable" {% if value == "Non applicable" %} selected {% endif %}>Non applicable</option>
                </select>
				<label class="comment">Commentaire :</label>
				<textarea name="securite_comment" class="form-control" required>{{ application.comments.get('securite_comment', '') }}</textarea>

				<label class="label">Vulnérabilités connues non corrigées :
					<span class="info-icon" data-key="vulnerabilites">?</span>
				</label>
                <select name="vulnerabilites" class="form-select">
                    {% set value = application.responses.get('vulnerabilites', '') %}
                    <option value="Non" {% if value == "Non" %} selected {% endif %}>Non</option>
                    <option value="Partiellement" {% if value == "Partiellement" %} selected {% endif %}>Partiellement</option>
                    <option value="Majoritairement" {% if value == "Majoritairement" %} selected {% endif %}>Majoritairement</option>
                    <option value="Totalement" {% if value == "Totalement" %} selected {% endif %}>Totalement</option>
                    <option value="Non applicable" {% if value == "Non applicable" %} selected {% endif %}>Non applicable</option>
                </select>
				<label class="comment">Commentaire :</label>
				<textarea name="vulnerabilites_comment" class="form-control" required>{{ application.comments.get('vulnerabilites_comment', '') }}</textarea>

				<label class="label">Mécanismes de surveillance et d’alerte :
					<span class="info-icon" data-key="surveillance">?</span>
				</label>
                <select name="surveillance" class="form-select">
                    {% set value = application.responses.get('surveillance', '') %}
                    <option value="Oui total" {% if value == "Oui total" %} selected {% endif %}>Oui total</option>
                    <option value="Partiel" {% if value == "Partiel" %} selected {% endif %}>Partiel</option>
                    <option value="Insuffisant" {% if value == "Insuffisant" %} selected {% endif %}>Insuffisant</option>
                    <option value="Non total" {% if value == "Non total" %} selected {% endif %}>Non total</option>
                    <option value="Non applicable" {% if value == "Non applicable" %} selected {% endif %}>Non applicable</option>
                </select>
				<label class="comment">Commentaire :</label>
				<textarea name="surveillance_comment" class="form-control" required>{{ application.comments.get('surveillance_comment', '') }}</textarea>
          </div>
		
		<!-- Exploitation et Performance -->
        <div class="card p-4 my-3">
            <h3>🚀 Exploitation et Performance</h3>
				<label class="label">Incidents récurrents :
					<span class="info-icon" data-key="incidents">?</span>
				</label>
                <select name="incidents" class="form-select">
                    {% set value = application.responses.get('incidents', '') %}
                    <option value="Non" {% if value == "Non" %} selected {% endif %}>Non</option>
                    <option value="Partiellement" {% if value == "Partiellement" %} selected {% endif %}>Partiellement</option>
                    <option value="Majoritairement" {% if value == "Majoritairement" %} selected {% endif %}>Majoritairement</option>
                    <option value="Totalement" {% if value == "Totalement" %} selected {% endif %}>Totalement</option>
                    <option value="Non applicable" {% if value == "Non applicable" %} selected {% endif %}>Non applicable</option>
                </select>
			    <label class="comment">Commentaire :</label>
				<textarea name="incidents_comment" class="form-control" required>{{ application.comments.get('incidents_comment', '') }}</textarea>
				<label class="label">Performances satisfaisantes :
					<span class="info-icon" data-key="performances">?</span>				
				</label>
                <select name="performances" class="form-select">
                    {% set value = application.responses.get('performances', '') %}
                    <option value="Oui total" {% if value == "Oui total" %} selected {% endif %}>Oui total</option>
                    <option value="Partiel" {% if value == "Partiel" %} selected {% endif %}>Partiel</option>
                    <option value="Insuffisant" {% if value == "Insuffisant" %} selected {% endif %}>Insuffisant</option>
                    <option value="Non total" {% if value == "Non total" %} selected {% endif %}>Non total</option>
                    <option value="Non applicable" {% if value == "Non applicable" %} selected {% endif %}>Non applicable</option>
                </select>
				<label class="comment">Commentaire :</label>
				<textarea name="performances_comment" class="form-control" required>{{ application.comments.get('performances_comment', '') }}</textarea>
				<label class="label">Application scalable :
					<span class="info-icon" data-key="scalable">?</span>				
				</label>
                <select name="scalable" class="form-select">
                    {% set value = application.responses.get('performances', '') %}
                    <option value="Oui total" {% if value == "Oui total" %} selected {% endif %}>Oui total</option>
                    <option value="Partiel" {% if value == "Partiel" %} selected {% endif %}>Partiel</option>
                    <option value="Insuffisant" {% if value == "Insuffisant" %} selected {% endif %}>Insuffisant</option>
                    <option value="Non total" {% if value == "Non total" %} selected {% endif %}>Non total</option>
                    <option value="Non applicable" {% if value == "Non applicable" %} selected {% endif %}>Non applicable</option>
                </select>
				<label class="comment">Commentaire :</label>
				<textarea name="scalable_comment" class="form-control" required>{{ application.comments.get('scalable_comment', '') }}</textarea>

        </div>
		
        <!-- Fonctionnel -->
        <div class="card p-4 my-3">
            <h3>📈 Fonctionnel</h3>
            {% set questions = {
                'besoins_metier': "Couverture des besoins métier",
				'recouvrement' : "Périmètre applicatif spécifique identifié",
                'evolutivite': "Évolutivité pour nouvelles demandes métier"
            } %}
            {% for key, label in questions.items() %}
				<label class="label">{{ label }} :
					<span class="info-icon" data-key="{{ key }}">?</span>
				</label>
                <select name="{{ key }}" class="form-select">
                    {% set value = application.responses.get(key, '') %}
                    <option value="Oui total" {% if value == "Oui total" %} selected {% endif %}>Oui total</option>
                    <option value="Partiel" {% if value == "Partiel" %} selected {% endif %}>Partiel</option>
                    <option value="Insuffisant" {% if value == "Insuffisant" %} selected {% endif %}>Insuffisant</option>
                    <option value="Non total" {% if value == "Non total" %} selected {% endif %}>Non total</option>
                    <option value="Non applicable" {% if value == "Non applicable" %} selected {% endif %}>Non applicable</option>
                </select>
				<label class="comment">Commentaire :</label>
				<textarea name="{{ key }}_comment" class="form-control" required>{{ application.comments.get(key + '_comment', '') }}</textarea>
            {% endfor %}
			
				<label class="label">Fonctionnalités obsolètes ou inutilisées :
					<span class="info-icon" data-key="fonctions">?</span>
				</label>
                <select name="fonctions" class="form-select">
                    {% set value = application.responses.get('fonctions', '') %}
                    <option value="Non" {% if value == "Non" %} selected {% endif %}>Non</option>
                    <option value="Partiellement" {% if value == "Partiellement" %} selected {% endif %}>Partiellement</option>
                    <option value="Majoritairement" {% if value == "Majoritairement" %} selected {% endif %}>Majoritairement</option>
                    <option value="Totalement" {% if value == "Totalement" %} selected {% endif %}>Totalement</option>
                    <option value="Non applicable" {% if value == "Non applicable" %} selected {% endif %}>Non applicable</option>
                </select>
			    <label class="comment">Commentaire :</label>
				<textarea name="fonctions_comment" class="form-control" required>{{ application.comments.get('fonctions_comment', '') }}</textarea>

        </div>

        <button type="submit" class="btn btn-primary w-100">📊 Mettre à jour le Score</button>
    </form>

    <div class="text-center my-3">
        <a href="/" class="btn btn-outline-primary">🏠 Retour à la liste</a>
    </div>
</div>


<script>
    $(document).ready(function() {
		let infoTexts = {};

        // Charger les textes des infobulles depuis un fichier JSON
        $.getJSON("{{ url_for('static', filename='info_texts.json') }}", function(data) {
			infoTexts = data;
    
			// Convertir les valeurs en chaînes de caractères si elles sont des tableaux
			Object.keys(infoTexts).forEach(function(key) {
				if (Array.isArray(infoTexts[key])) {
					infoTexts[key] = infoTexts[key].join("");
				}
			});
		});
		
	
        $('.info-icon').click(function(event) {
            event.stopPropagation();

            // Supprime les infobulles existantes
            $('.info-tooltip').remove();

			// Récupération de la clé et du texte associé
            var key = $(this).attr('data-key');
            var infoText = infoTexts[key] || "Information non disponible.";
			
            // Création et ajout de l'infobulle
            var tooltip = $('<div class="info-tooltip">' + infoText + '</div>');
            $('body').append(tooltip);

            // Positionnement dynamique sous l'icône
            var iconPosition = $(this).offset();
            tooltip.css({
                top: iconPosition.top + 25,
                left: iconPosition.left,
                position: 'absolute'
            }).fadeIn();
        });

        // Ferme l'infobulle si on clique ailleurs
        $(document).click(function() {
            $('.info-tooltip').fadeOut(function() {
                $(this).remove();
            });
        });

        // Empêche la fermeture immédiate si on clique sur l'infobulle
        $(document).on('click', '.info-tooltip', function(event) {
            event.stopPropagation();
        });
    });
</script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
